/**
* CSS Extra no incluido en REveal.js que nos permite retocar el asperto
*	@author Pedro Hernandez <pedrothdc@pixelariumstudio.es>
*/

.flotante {
    width: 50%;
    float: left;
}

table {
    font-size: 0.8em;
}

.reveal h2 {
    font-size: 3.28em;
}

.reveal section {
    font-size: 2.2em;
}
