/**
* CSS Extra no incluido en REveal.js que nos permite retocar el aspecto
*	@author Pedro Hernandez <pedrothdc@pixelariumstudio.es>
*/

.flotante {
    width: 50%;
    float: left;
}

.reveal section table {
    font-size: 0.8em;
}

.reveal h2 {
    font-size: 3.28em;
}

.reveal h4 {
    font-size: 2.99em;
}

.reveal section {
    font-size: 1.2em;
}

.reveal section p {
    font-size: 1.9em;
    text-align: justify;
}
